<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Speed Test - comparing JSON and ProtoBuf speed</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-app="speed-test-app">
    <div class="row" ng-controller="SpeedTestController as ctrl">
        <div class="col-xs-12">
            <h1>Speed Test - comparing JSON and ProtoBuf speed</h1>
            <p>
                The following buttons will request a bunch of data from the server and show how fast they go. Both
                return exactly the same data, but with different protocols.
            </p>
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <button class="btn btn-primary btn-block" ng-click="ctrl.requestProtobuf()">15x - ProtoBuf request</button>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <button class="btn btn-success btn-block" ng-click="ctrl.requestJson()">15x - JSON request</button>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <button class="btn btn-info btn-block" ng-click="ctrl.requestProtobufJava()">Java</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <button class="btn btn-primary btn-block" ng-click="ctrl.postProtobuf()">Post ProtoBuf</button>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <button class="btn btn-success btn-block" ng-click="ctrl.postJSON()">Post JSON</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.rawgit.com/dcodeIO/protobuf.js/6.5.3/dist/protobuf.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="bundle.js"></script>
<script>
    (function() {
        const People = protobuf.roots.default.demo.People;
        const Person = protobuf.roots.default.demo.Person;
        const Address = protobuf.roots.default.demo.Address;
        const peopleEndpoint = '/people';
        const protobufResp = 'arraybuffer';
        const octetStream = 'binary/octet-stream';
        const NUMBER_OF_CALLS = 50;

        angular.module('speed-test-app', [])
            .controller('SpeedTestController', function($http) {
                let ctrl = this;
                ctrl.people = [];
                ctrl.time = [];

                ctrl.requestProtobufJava = requestProtobufJava;
                ctrl.requestProtobuf = protobuRequest;
                ctrl.requestJson = jsonRequest;
                ctrl.postProtobuf = postProtobuf;
                ctrl.postJSON = postJSON;

                function requestProtobufJava() {
                    $http.get(`/protobuf/java`).then(function() {
                        console.log('done');
                    });
                }

                function postJSON() {
                    let startTime = Date.now();
                    let address = new Address({
                        street: 'Street',
                        number: 100
                    });

                    let jsonPerson = {
                        name: 'Some person',
                        address: [],
                        mobile: [],
                        email: []
                    };

                    for (let i = 0; i < 3; i++) jsonPerson.address.push(address);
                    for (let i = 0; i < 3; i++) jsonPerson.mobile.push('(1) 732-757-2923');
                    for (let i = 0; i < 3; i++) jsonPerson.email.push('someone@somewhere.com');

                    let person = new Person(jsonPerson);
                    let people = new People({
                        person: [person]
                    });

                    return $http.post('/json/people', people).then(function() {
                        recordTime(Date.now() - startTime, postJSON);
                    });
                }

                function postProtobuf() {
                    let startTime = Date.now();
                    let address = new Address({
                        street: 'Street',
                        number: 100
                    });

                    let jsonPerson = {
                        name: 'Some person',
                        address: [],
                        mobile: [],
                        email: []
                    };

                    for (let i = 0; i < 3; i++) jsonPerson.address.push(address);
                    for (let i = 0; i < 3; i++) jsonPerson.mobile.push('(1) 732-757-2923');
                    for (let i = 0; i < 3; i++) jsonPerson.email.push('someone@somewhere.com');

                    let person = new Person(jsonPerson);
                    let people = new People({
                        person: [person]
                    });

                    let post = {
                        method: 'POST',
                        url: '/protobuf/people',
                        data: People.encode(people).finish(),
                        transformRequest: [],
                        headers: {
                            'Content-Type': 'application/x-protobuf'
                        }
                    };

                    return $http(post).then(function() {
                        recordTime(Date.now() - startTime, postProtobuf);
                    });
                }

                function protobuRequest() {
                    let startTime = Date.now();
                    let req = {
                        accept: octetStream,
                        method: 'GET',
                        responseType: protobufResp,
                        url: `/protobuf/${peopleEndpoint}`
                    };
                    return $http(req).then(function(response) {
                        ctrl.people = People.decode(new Uint8Array(response.data)).person;
                        recordTime(Date.now() - startTime, protobuRequest);
                    });
                }

                function jsonRequest() {
                    let startTime = Date.now();
                    $http.get(`/json/${peopleEndpoint}`).then(function(response) {
                        ctrl.people = response.data.person;
                        recordTime(Date.now() - startTime, jsonRequest);
                    });
                }

                function recordTime(time, callback) {
                    ctrl.time.push(time);
                    if (ctrl.time.length < NUMBER_OF_CALLS) {
                        return callback();
                    }
                    let totalTime = 0;
                    ctrl.time.forEach(time => {
                        let previousTime = totalTime;
                        totalTime += time;
                        console.log(`${totalTime} = ${totalTime} + ${time}`);
                    });
                    console.log(`Took ${totalTime / NUMBER_OF_CALLS}ms to handle the request and response.`);
                    ctrl.time = [];
                }
            });
    }());
</script>
</body>
</html>